* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.header-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-box .br {
    width: 95%;
    margin: 0.3125rem;
    height: 0.125rem;
    background-color: #C8C8C8;
}

.header-nav {
    margin-top: 0.9375rem;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

.header-nav p {
    text-align: center;

    width: 13.5rem;
    height: 2.5rem;
  
    justify-content: center;
  
    color: #000;
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;




}

.header-nav img {
    margin-top: 0.5rem;
    position: absolute;
    /* 절대 위치 지정 */
    left: 0.625rem;
    /* 화살표 이미지를 왼쪽으로 10px만큼 이동 */
    width: 1.0125rem;
    height: 1.5rem;
    line-height: normal;
  
}

/* mid */

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:37.625rem;
    overflow-y: scroll;
    overflow-x: hidden;

}

.item-section {
    width: 22rem;
    /* height: 24.625rem; */
    height: fit-content;


    border-radius: 0.625rem;
    border: 1px solid #E4E4E4;
    background: #FFF;
    margin-top: 0.75rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.item-section .name-box {
    display: flex;
    flex-direction: row;
    padding: 0.56rem 1.69rem 0.56rem 1.69rem;
    justify-content: space-between;
    align-items: center;
}

.img-box {
    margin-left: 1rem;
}

.img-box .service-img {
    width: 20rem;
    height: 12.5rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
}

.name-box .name {
    color: #000;
    font-family: Inter;
    font-size: 1.45rem;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.describe-box {
    margin-left: 1rem;
    margin-top: 0.75rem;
}

.describe-box p {
    color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cancel-btn {
    width: 21.875rem;
    height: 3.125rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #FFAD7E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    margin-top: 0.94rem;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* bottom */
.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

.bottom .bottomnav {
    padding: 0.75rem;
}

.bottomnav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.bottomnav a {
    flex: 1;
    /* 동일한 크기를 가지도록 flex 속성 추가 */
    padding: 0rem 0.3125rem 0rem 0.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 내부 요소들을 가로, 세로 중앙으로 정렬 */
    text-decoration: none;
}

.bottomnav a img {
    width: 1.875rem;
    height: 1.875rem;
}

.bottomnav a p {
    padding-top: 0.25rem;
    color: #A5A4A4;
}

a {
    text-decoration: none;
    /* 밑줄 제거 */
    color: inherit;
    /* 기본 색상 상속 */
}

img {
    color: black
}


.reserve-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 1rem;
    margin-top: 1rem;
  
  
  
  
    
  
    width: 22rem;
    height: 16.5rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #FFFBF9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
  }


  
  .reserve-no , .reserve-number {
    text-align: left;
    justify-content: left;
    align-items: left;
    width: 20.75rem;
  
    color: #000;
    font-family: Inter;
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
  }
  
  .reserve-item {
    width: 100%;
    display: flex;
    flex-direction: column;
  
  }
  
  .reserve-name {
  
  
    text-align: left;
    justify-content: left;
    align-items: left;
    width: 20.75rem;
  
  
  
    color: #100401;
    font-family: Inter;
    font-size: 1.7125rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  
  .reserve-date, .reserve-location {
  
    text-align: left;
    justify-content: left;
    align-items: left;
  
    height: 1.5625rem;
    flex-shrink: 0;
    color: #A5A4A4;
    font-family: Inter;
    font-size: 1.2625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
  }
  
  .reserve-locationdetail {
  
    width: 100%;
    height: 1.5625rem;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
  }
  .reserve-time{
    width: 100%;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }




  .confirm-box {

    
   
    
    
    display: flex;
    align-items: center;
    
    margin-left: -20px;

    justify-content: center;
    width: 100%;
    height: 3.125rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: rgba(255, 210, 123, 0.73);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .confirm-box p {
    text-align: center;

    width: 7.375rem;
    height: 1.75rem;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 1.65rem;
    font-style: normal;
    font-weight: 1000;
    line-height: 2.125rem ;
  }

  .confirm-box img {
    width: 2.0625rem;
    height: 2.125rem;
    flex-shrink: 0;
    
    float: left;
    vertical-align: middle;
    

    
  }

  .confirm-section {
    margin-top: 0.75rem;
    margin-bottom: 2rem;
  }