*{
    margin:0px;
    border:0px;
}

/*줄바꿈기호 없애기*/
ul, li {
  list-style: none;
}

/* main.css */
.header{
    padding-top: 16px;
    display:flex;
    justify-content:center;
}
.bottom {
    position:fixed;
    bottom: 0;
    width:100%;
    border: 1px solid #D9D9D9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.bottom .bottomnav{
    padding: 10px 9px 10px 9px;
}
.bottomnav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .bottomnav a {
    flex: 1; /* 동일한 크기를 가지도록 flex 속성 추가 */
    padding: 0px 5px 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 내부 요소들을 가로, 세로 중앙으로 정렬 */
    text-decoration: none;  
}
  
  .bottomnav a img {
    width: 30px;
    height: 30px;
  }
  
  .bottomnav a p {    
    padding-top: 7px;
    color: #A5A4A4;
  }

  a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 기본 색상 상속 */
  }

  img {
    color:black

  }


  nav {
    display: flex;

  }

 
.favorite-nav {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;

  width: 296px;
  height: 40px;
  flex-shrink: 0;
  /*
  font-size: 190%;
  font-weight: 900;
  */
  margin-top: 30px;
  margin-bottom: 5px;
}

.nav-btn {
  /*
  justify-content: left;
  font-weight: 900000000;
  color: gray;
  */
  width: 21px;
  height: 40px;

  flex-shrink: 0;
  fill: #A5A4A4;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

.nav-place {
  width: 210px;
  height: 40px;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
  
hr {
  border: none;
  border-top: 1.5px solid #C8C8C8;
  width: 100%;
  height: 1px;
}

/*즐겨찾기 장소 없을때*/
.nofavorite-box {
  display: flex;
  justify-content: center;
}

.nofavorite-container {

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;

  

  width: 334px;
  height: 334px;
  margin-top: 30px;

  border-radius: 10px;
  background: #FFFBF9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  
}

.nofavorite-image {
  height: 108px;
  width: 121px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: -80px;

}

.nofavorite-letter {

  color: #000;
  text-align: center;
  align-items: center;

  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}

.favorite-box {
  display: inline-flex;
  flex-direction: column;
}

.favorite-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  width: 348px;
  height: 144px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #EEE;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


}

.favorite-item {

}

.favorite-image {

  width: 165px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat; 
}

.place-name {

  width: 158px;
  height: 31px;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.place-date {
  width: 152px;
  height: 30px;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}


.place-availableBox {
  width: 60px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #5BD830;
  background: #FFF;
}


.place-available {
  width: 45.878px;
  height: 15.924px;
  flex-shrink: 0;
  color: #5BD830;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;  
}

