.headerContent {
    width: 100%;
    height: 100%;
}

.header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2.75rem;
}

.header-box .logintext {
    margin-top: 2.5rem;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bodyContent {
    display: flex;
    padding: 0px 56px 68px 56px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bodyContent .loginform {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form div {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

div input {
    flex: 1;
    border: 1px solid #BABABA;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding-left: 0.625rem;
}
#username { 
    width: 9.375rem;
}
div label {
    flex: 1;
    font-size: 18px;
    /* font-weight: bold; */
}

.custom-select {
    flex: 1;
    border: 1px solid #BABABA;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #7E7E7E;
    /* 기본 텍스트 색상 변경 */
}

.loginbtn {
    margin-top: 2.5rem;
    width: 100%;
    margin-bottom: 16px;
    height: 49px;
    background-color: #FFC85C;
    border-radius: 100px;
    /* border : 1px solid #BABABA; */
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: bold;
}

.kakaobtn {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    height: 49px;
    background-color: #FDDC3F;
    border-radius: 100px;
    border: none;
    /* 테두리 색상 없애기 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: inherit;
    justify-content: center;
    align-items: center;
}

.kakaobtn p {
    font-size: 18px;
    font-weight: bold;
}

.bottomnav .navRegister {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.Registertext1 {
    font-size: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #6E6E6E;
    text-decoration: none;
}

.Registertext2 {
    text-align: center;
    font-size: 15px;
    color: #E7544B;
    text-decoration: none;
}

.bottomnav .navSearch {
    display: flex;
    justify-content: center;
}

.Searchtext1 {
    font-size: 15px;
    margin-right: 30px;
    color: #A5A4A4;
    text-decoration: none;

}

.Searchtext2 {
    font-size: 15px;
    color: #A5A4A4;
    text-decoration: none;

}

.userIdForm{
    flex-direction: row;
}
.userIdForm p {
    margin: 0px;
    font-size: 0.925rem;
    margin-left: 0.5rem;
    border-radius: 0.625rem;
    background: #FFC85C;
    padding: 0.4rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}