* {
  margin: 0px;
  border: 0px;
}

/* main.css */
.header {
  display: flex;
  justify-content: center;
}

.header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.38rem;
}

.header-box .mypageText {
  margin-bottom: 1.5rem;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 3.38rem;
}

/* mid */
.mid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserInfo-box {
  width: 20.625rem;
  height: 19.375rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.25rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 1px solid #BABABA;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.UserInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.password-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.UserInfo input {
  width: 9.5rem;
  height: 2.25rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  border: 1px solid #BABABA;
  background: rgba(255, 255, 255, 0.90);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  padding-left: 0.5rem;
}

.UserInfo input::placeholder {}

.UserInfo #area {
  padding-left: 0.5rem;
}

.UserInfo li {
  list-style: none;
}

.id,
.name,
.kakaoID,
.phonenum,
.area {
  width: 6.87rem;
  color: #181818;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* 다른 공통 스타일 속성들 */
}

.user-id,
.user-name,
.user-kakaoID,
.user-phonenum,
.user-area {
  color: #7E7E7E;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container-userModify {
  display: none;
}

.container-passwordModify {
  display: none;
}

.password-modify {}

.UserModify-box {
  width: 20.625rem;
  height: 19.375rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.81rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 1px solid #BABABA;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.custom-select {
  width: 10.2rem;
  height: 2.25rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  border: 1px solid #BABABA;
  background: rgba(255, 255, 255, 0.90);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  color: #7E7E7E;
  /* 기본 텍스트 색상 변경 */
}

/* modify display*/
.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* button */

.modify-btn {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  width: 17.5rem;
  height: 3.0625rem;
  flex-shrink: 0;
  border-radius: 6.25rem;
  background: #FFC85C;
}

.user-modify-btn {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 6.25rem;
  background: #FFC85C;
}

.password-modify-btn {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 6.25rem;
  background: #FFC85C;
}

.button-box {
  margin-top: 1.25rem;
}

.user-Modify {
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-Modify p {
  width: 15rem;
  color: #303030;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logout {
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout p {
  width: 15rem;
  color: #303030;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.password-modify {
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-modify p {
  width: 15rem;
  color: #303030;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.br-tags {
  width: 21.375rem;
  height: 0.0625rem;
  background: #DFDFDF;
}

/* bottom */

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 1px solid #D9D9D9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bottom .bottomnav {
  padding: 10px 9px 10px 9px;
}

.bottomnav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.bottomnav a {
  flex: 1;
  /* 동일한 크기를 가지도록 flex 속성 추가 */
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 내부 요소들을 가로, 세로 중앙으로 정렬 */
  text-decoration: none;
}

.bottomnav a img {
  width: 30px;
  height: 30px;
}

.bottomnav a p {
  padding-top: 7px;
  color: #A5A4A4;
}

a {
  text-decoration: none;
  /* 밑줄 제거 */
  color: inherit;
  /* 기본 색상 상속 */
}

img {
  color: black
}



#logout-modal {
  position: fixed;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

#password-modify-modal{
  position: fixed;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.modal-content {
  position: relative;
  top: 34%;
  left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20.625rem;
  height: 14.625rem;
  flex-shrink: 0;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 0.9375rem;
  border: 1px solid #BABABA;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal-text1 {
  margin-top: 2.44rem;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modal-text2 {
  margin-top: 1.69rem;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.modal-button {
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 100%;

}

#cancel-modal {
  padding:0px;
  width: 100%;
  flex: 1;
  height: 4.06rem;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: white;
  border-bottom-left-radius: 0.9375rem;
  border : 1px solid #DFDFDF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#confirm-modal {
  padding:0px;
  width: 100%;
  flex: 1;
  height: 4.06rem;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: white;
  border-bottom-right-radius: 0.9375rem;
  border : 1px solid #DFDFDF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


#cancel-modal2 {
  padding:0px;
  width: 100%;
  flex: 1;
  height: 4.06rem;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: white;
  border-bottom-left-radius: 0.9375rem;
  border : 1px solid #DFDFDF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#confirm-modal2 {
  padding:0px;
  width: 100%;
  flex: 1;
  height: 4.06rem;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: white;
  border-bottom-right-radius: 0.9375rem;
  border : 1px solid #DFDFDF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}