*{
    margin:0px;
    border:0px;
}

/* main.css */
.header{
    padding-top: 16px;
    display:flex;
    justify-content:center;
}
/* bottom */
.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 1px solid #D9D9D9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bottom .bottomnav {
  padding: 0.75rem;
}

.bottomnav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.bottomnav a {
  flex: 1;
  /* 동일한 크기를 가지도록 flex 속성 추가 */
  padding: 0rem 0.3125rem 0rem 0.3125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 내부 요소들을 가로, 세로 중앙으로 정렬 */
  text-decoration: none;
}

.bottomnav a img {
  width: 1.875rem;
  height: 1.875rem;
}
.bottomnav a p {
  padding-top: 0.25rem;
  color: #A5A4A4;
}

a {
  text-decoration: none;
  /* 밑줄 제거 */
  color: inherit;
  /* 기본 색상 상속 */
}

img {
  color: black
}